@import "tailwindcss";

@layer base {
  body {
    background-color: #fff0f0;
    font-family: 'Inter', sans-serif;
    color: #1b1c1c;
    -webkit-font-smoothing: antialiased;
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.card-shadow, .tinted-shadow, .tonal-shadow {
  box-shadow: 0px 4px 12px 0px rgba(139, 0, 0, 0.08);
}

